/*!
*  XEIcon 2.3.0 by @NAVER - http://xpressengine.github.io/XEIcon/ - @XEIcon
*  License - http://xpressengine.github.io/XEIcon/license.html (Font: SIL OFL 1.1, CSS: MIT License)
*/
/* @font-face {
  font-family: 'xeicon';
  src: url("fonts/xeicon.eot?3ka2yj");
  src: url("fonts/xeicon.eot?3ka2yj#iefix") format("embedded-opentype"), url("fonts/xeicon.woff2?3ka2yj") format("woff2"), url("fonts/xeicon.ttf?3ka2yj") format("truetype"), url("fonts/xeicon.woff?3ka2yj") format("woff"), url("fonts/xeicon.svg?3ka2yj#xeicon") format("svg");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'xeicon';
  src: url("./xeicon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

i.xi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xeicon' !important;
  /* speak: none; */
  font-display: block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* makes the font 33% larger relative to the icon container */ }
  i.xi.xi-home:before {
    content: "\e900"; }
  i.xi.xi-home-o:before {
    content: "\e902"; }
  i.xi.xi-bars:before {
    content: "\e91c"; }
  i.xi.xi-hamburger-back:before {
    content: "\eb46"; }
  i.xi.xi-hamburger-out:before {
    content: "\eb45"; }
  i.xi.xi-apps:before {
    content: "\e903"; }
  i.xi.xi-ellipsis-h:before {
    content: "\e94a"; }
  i.xi.xi-ellipsis-v:before {
    content: "\e949"; }
  i.xi.xi-drag-vertical:before {
    content: "\e996"; }
  i.xi.xi-drag-handle:before {
    content: "\e960"; }
  i.xi.xi-arrow-top:before {
    content: "\e912"; }
  i.xi.xi-arrow-bottom:before {
    content: "\e904"; }
  i.xi.xi-arrow-left:before {
    content: "\e906"; }
  i.xi.xi-arrow-right:before {
    content: "\e907"; }
  i.xi.xi-arrow-up:before {
    content: "\e915"; }
  i.xi.xi-arrow-down:before {
    content: "\e905"; }
  i.xi.xi-long-arrow-left:before {
    content: "\e908"; }
  i.xi.xi-long-arrow-right:before {
    content: "\e90b"; }
  i.xi.xi-long-arrow-up:before {
    content: "\e909"; }
  i.xi.xi-long-arrow-down:before {
    content: "\e90a"; }
  i.xi.xi-angle-left:before {
    content: "\e93b"; }
  i.xi.xi-angle-left-min:before {
    content: "\e93c"; }
  i.xi.xi-angle-left-thin:before {
    content: "\e93d"; }
  i.xi.xi-angle-right:before {
    content: "\e93e"; }
  i.xi.xi-angle-right-min:before {
    content: "\e93f"; }
  i.xi.xi-angle-right-thin:before {
    content: "\e940"; }
  i.xi.xi-angle-up:before {
    content: "\e944"; }
  i.xi.xi-angle-up-min:before {
    content: "\e945"; }
  i.xi.xi-angle-up-thin:before {
    content: "\e946"; }
  i.xi.xi-angle-down:before {
    content: "\e941"; }
  i.xi.xi-angle-down-min:before {
    content: "\e942"; }
  i.xi.xi-angle-down-thin:before {
    content: "\e943"; }
  i.xi.xi-caret-up:before {
    content: "\e92f"; }
  i.xi.xi-caret-up-min:before {
    content: "\e930"; }
  i.xi.xi-caret-down:before {
    content: "\e935"; }
  i.xi.xi-caret-down-min:before {
    content: "\e936"; }
  i.xi.xi-caret-up-circle:before {
    content: "\e931"; }
  i.xi.xi-caret-up-circle-o:before {
    content: "\e932"; }
  i.xi.xi-caret-down-circle:before {
    content: "\e937"; }
  i.xi.xi-caret-down-circle-o:before {
    content: "\e938"; }
  i.xi.xi-caret-up-square:before {
    content: "\e933"; }
  i.xi.xi-caret-up-square-o:before {
    content: "\e934"; }
  i.xi.xi-caret-down-square:before {
    content: "\e939"; }
  i.xi.xi-caret-down-square-o:before {
    content: "\e93a"; }
  i.xi.xi-arrows-h:before {
    content: "\e90e"; }
  i.xi.xi-arrows-v:before {
    content: "\e90f"; }
  i.xi.xi-expand:before {
    content: "\e910"; }
  i.xi.xi-compress:before {
    content: "\e911"; }
  i.xi.xi-arrows:before {
    content: "\e90c"; }
  i.xi.xi-arrows-alt:before {
    content: "\e90d"; }
  i.xi.xi-compare-arrows:before {
    content: "\e947"; }
  i.xi.xi-scroll:before {
    content: "\e94b"; }
  i.xi.xi-dashboard:before {
    content: "\e948"; }
  i.xi.xi-dashboard-o:before {
    content: "\e95e"; }
  i.xi.xi-refresh:before {
    content: "\e973"; }
  i.xi.xi-catched:before {
    content: "\e923"; }
  i.xi.xi-renew:before {
    content: "\e977"; }
  i.xi.xi-sync:before {
    content: "\e982"; }
  i.xi.xi-eye:before {
    content: "\e951"; }
  i.xi.xi-eye-o:before {
    content: "\e950"; }
  i.xi.xi-eye-off:before {
    content: "\e953"; }
  i.xi.xi-eye-slash:before {
    content: "\e953"; }
  i.xi.xi-eye-off-o:before {
    content: "\e952"; }
  i.xi.xi-eye-slash2:before {
    content: "\e952"; }
  i.xi.xi-lock:before {
    content: "\e964"; }
  i.xi.xi-lock-o:before {
    content: "\e966"; }
  i.xi.xi-unlock:before {
    content: "\e965"; }
  i.xi.xi-unlock-o:before {
    content: "\e967"; }
  i.xi.xi-trash:before {
    content: "\e96e"; }
  i.xi.xi-trash-o:before {
    content: "\e96f"; }
  i.xi.xi-flag:before {
    content: "\e961"; }
  i.xi.xi-flag-o:before {
    content: "\e962"; }
  i.xi.xi-expand-square:before {
    content: "\e954"; }
  i.xi.xi-compress-square:before {
    content: "\e955"; }
  i.xi.xi-log-in:before {
    content: "\e963"; }
  i.xi.xi-log-out:before {
    content: "\e972"; }
  i.xi.xi-search:before {
    content: "\e97a"; }
  i.xi.xi-magnifier:before {
    content: "\e97a"; }
  i.xi.xi-zoom-in:before {
    content: "\e97b"; }
  i.xi.xi-magnifier-expand:before {
    content: "\e97b"; }
  i.xi.xi-zoom-out:before {
    content: "\e97c"; }
  i.xi.xi-magnifier-reduce:before {
    content: "\e97c"; }
  i.xi.xi-subdirectory:before {
    content: "\e97e"; }
  i.xi.xi-subdirectory-arrow:before {
    content: "\e981"; }
  i.xi.xi-external-link:before {
    content: "\e980"; }
  i.xi.xi-cog:before {
    content: "\e986"; }
  i.xi.xi-view-array:before {
    content: "\e983"; }
  i.xi.xi-view-carousel:before {
    content: "\e984"; }
  i.xi.xi-view-column:before {
    content: "\e985"; }
  i.xi.xi-view-day:before {
    content: "\e98d"; }
  i.xi.xi-view-list:before {
    content: "\e993"; }
  i.xi.xi-view-module:before {
    content: "\e997"; }
  i.xi.xi-view-stream:before {
    content: "\e99a"; }
  i.xi.xi-wrench:before {
    content: "\e99b"; }
  i.xi.xi-filter:before {
    content: "\e9d9"; }
  i.xi.xi-funnel:before {
    content: "\e9d9"; }
  i.xi.xi-plus:before {
    content: "\e913"; }
  i.xi.xi-plus-min:before {
    content: "\e914"; }
  i.xi.xi-plus-thin:before {
    content: "\e9c5"; }
  i.xi.xi-minus:before {
    content: "\e91a"; }
  i.xi.xi-minus-min:before {
    content: "\e91b"; }
  i.xi.xi-minus-thin:before {
    content: "\e9c1"; }
  i.xi.xi-close:before {
    content: "\e921"; }
  i.xi.xi-close-min:before {
    content: "\e922"; }
  i.xi.xi-close-thin:before {
    content: "\e9af"; }
  i.xi.xi-check:before {
    content: "\e928"; }
  i.xi.xi-check-min:before {
    content: "\e929"; }
  i.xi.xi-check-thin:before {
    content: "\e92a"; }
  i.xi.xi-plus-circle:before {
    content: "\e916"; }
  i.xi.xi-plus-circle-o:before {
    content: "\e917"; }
  i.xi.xi-minus-circle:before {
    content: "\e91d"; }
  i.xi.xi-minus-circle-o:before {
    content: "\e91e"; }
  i.xi.xi-close-circle:before {
    content: "\e924"; }
  i.xi.xi-close-circle-o:before {
    content: "\e925"; }
  i.xi.xi-check-circle:before {
    content: "\e92b"; }
  i.xi.xi-check-circle-o:before {
    content: "\e92c"; }
  i.xi.xi-plus-square:before {
    content: "\e918"; }
  i.xi.xi-plus-square-o:before {
    content: "\e919"; }
  i.xi.xi-minus-square:before {
    content: "\e91f"; }
  i.xi.xi-minus-square-o:before {
    content: "\e920"; }
  i.xi.xi-close-square:before {
    content: "\e926"; }
  i.xi.xi-close-square-o:before {
    content: "\e927"; }
  i.xi.xi-check-square:before {
    content: "\e92d"; }
  i.xi.xi-check-box:before {
    content: "\e92d"; }
  i.xi.xi-checkbox-blank:before {
    content: "\ea0e"; }
  i.xi.xi-check-square-o:before {
    content: "\e92e"; }
  i.xi.xi-checkbox-checked:before {
    content: "\e92e"; }
  i.xi.xi-radiobox-blank:before {
    content: "\e9c6"; }
  i.xi.xi-radiobox-checked:before {
    content: "\e9c7"; }
  i.xi.xi-cut:before {
    content: "\e9b0"; }
  i.xi.xi-label:before {
    content: "\e9b1"; }
  i.xi.xi-label-o:before {
    content: "\e9b2"; }
  i.xi.xi-library-add:before {
    content: "\e9b3"; }
  i.xi.xi-library-bookmark:before {
    content: "\e9b4"; }
  i.xi.xi-tagged-book:before {
    content: "\e9b4"; }
  i.xi.xi-save:before {
    content: "\e9b9"; }
  i.xi.xi-lightbulb:before {
    content: "\e9be"; }
  i.xi.xi-idea:before {
    content: "\e9be"; }
  i.xi.xi-lightbulb-o:before {
    content: "\e9bf"; }
  i.xi.xi-link:before {
    content: "\e9c0"; }
  i.xi.xi-package:before {
    content: "\e9c2"; }
  i.xi.xi-archive:before {
    content: "\e9c2"; }
  i.xi.xi-pen:before {
    content: "\e9c3"; }
  i.xi.xi-pen-o:before {
    content: "\e9c4"; }
  i.xi.xi-undo:before {
    content: "\e9d2"; }
  i.xi.xi-redo:before {
    content: "\e9c8"; }
  i.xi.xi-switch-off:before {
    content: "\e9c9"; }
  i.xi.xi-switch-on:before {
    content: "\e9ca"; }
  i.xi.xi-toggle-off:before {
    content: "\e9cb"; }
  i.xi.xi-toggle-on:before {
    content: "\e9cd"; }
  i.xi.xi-bookmark:before {
    content: "\ea1c"; }
  i.xi.xi-bookmark-o:before {
    content: "\ea1d"; }
  i.xi.xi-tag:before {
    content: "\ea36"; }
  i.xi.xi-tags:before {
    content: "\ea37"; }
  i.xi.xi-mail:before {
    content: "\ea06"; }
  i.xi.xi-envelope:before {
    content: "\ea06"; }
  i.xi.xi-social-email:before {
    content: "\ea06"; }
  i.xi.xi-mail-o:before {
    content: "\ea07"; }
  i.xi.xi-mail-read:before {
    content: "\ea08"; }
  i.xi.xi-envelope-open:before {
    content: "\ea08"; }
  i.xi.xi-mail-read-o:before {
    content: "\ea09"; }
  i.xi.xi-send:before {
    content: "\ea0b"; }
  i.xi.xi-paper-plane:before {
    content: "\ea0b"; }
  i.xi.xi-reply:before {
    content: "\ea0d"; }
  i.xi.xi-reply-all:before {
    content: "\ea0c"; }
  i.xi.xi-share:before {
    content: "\e9fa"; }
  i.xi.xi-share-l:before {
    content: "\e9fa"; }
  i.xi.xi-share-alt:before {
    content: "\e9e9"; }
  i.xi.xi-share-alt-o:before {
    content: "\e9ea"; }
  i.xi.xi-call:before {
    content: "\e9d3"; }
  i.xi.xi-phone:before {
    content: "\e9d3"; }
  i.xi.xi-call-outgoing:before {
    content: "\e9d4"; }
  i.xi.xi-call-incoming:before {
    content: "\e9d6"; }
  i.xi.xi-call-reception:before {
    content: "\e9d6"; }
  i.xi.xi-call-missed:before {
    content: "\e9d5"; }
  i.xi.xi-comment:before {
    content: "\e9d7"; }
  i.xi.xi-comment-o:before {
    content: "\e9d8"; }
  i.xi.xi-forum:before {
    content: "\e9f0"; }
  i.xi.xi-comments:before {
    content: "\e9f0"; }
  i.xi.xi-forum-o:before {
    content: "\e9f1"; }
  i.xi.xi-video-call:before {
    content: "\ea18"; }
  i.xi.xi-xi-film:before {
    content: "\ea18"; }
  i.xi.xi-voicemail:before {
    content: "\ea19"; }
  i.xi.xi-note:before {
    content: "\ea1a"; }
  i.xi.xi-note-o:before {
    content: "\ea1b"; }
  i.xi.xi-at:before {
    content: "\ea0a"; }
  i.xi.xi-message:before {
    content: "\ea14"; }
  i.xi.xi-message-o:before {
    content: "\ea15"; }
  i.xi.xi-speech:before {
    content: "\ea12"; }
  i.xi.xi-speech-o:before {
    content: "\ea13"; }
  i.xi.xi-user-address:before {
    content: "\e9f4"; }
  i.xi.xi-profile:before {
    content: "\e9f2"; }
  i.xi.xi-user-circle:before {
    content: "\e9f2"; }
  i.xi.xi-profile-o:before {
    content: "\ea2a"; }
  i.xi.xi-user:before {
    content: "\e9f3"; }
  i.xi.xi-users:before {
    content: "\e9f9"; }
  i.xi.xi-group:before {
    content: "\ea2e"; }
  i.xi.xi-community:before {
    content: "\ea2e"; }
  i.xi.xi-user-plus:before {
    content: "\e9f7"; }
  i.xi.xi-users-plus:before {
    content: "\ea17"; }
  i.xi.xi-user-o:before {
    content: "\e9f5"; }
  i.xi.xi-users-o:before {
    content: "\ea04"; }
  i.xi.xi-user-plus-o:before {
    content: "\e9f8"; }
  i.xi.xi-star:before {
    content: "\ea0f"; }
  i.xi.xi-star-o:before {
    content: "\ea16"; }
  i.xi.xi-heart:before {
    content: "\ea10"; }
  i.xi.xi-heart-o:before {
    content: "\ea11"; }
  i.xi.xi-thumbs-up:before {
    content: "\ea28"; }
  i.xi.xi-thumbs-down:before {
    content: "\ea29"; }
  i.xi.xi-crown:before {
    content: "\e9da"; }
  i.xi.xi-trophy:before {
    content: "\ea38"; }
  i.xi.xi-emoticon-happy:before {
    content: "\e9dd"; }
  i.xi.xi-happy-face:before {
    content: "\e9dd"; }
  i.xi.xi-emoticon-happy-o:before {
    content: "\e9ed"; }
  i.xi.xi-emoticon-smiley:before {
    content: "\e9e4"; }
  i.xi.xi-smiley-face:before {
    content: "\e9e4"; }
  i.xi.xi-emoticon-smiley-o:before {
    content: "\e9e6"; }
  i.xi.xi-emoticon-neutral:before {
    content: "\e9eb"; }
  i.xi.xi-neutral-face:before {
    content: "\e9eb"; }
  i.xi.xi-emoticon-neutral-o:before {
    content: "\e9ec"; }
  i.xi.xi-emoticon-bad:before {
    content: "\e9de"; }
  i.xi.xi-emoticon-bad-o:before {
    content: "\e9df"; }
  i.xi.xi-emoticon-sad:before {
    content: "\e9ee"; }
  i.xi.xi-sad-face:before {
    content: "\e9ee"; }
  i.xi.xi-emoticon-sad-o:before {
    content: "\e9ef"; }
  i.xi.xi-emoticon-devil:before {
    content: "\e9e2"; }
  i.xi.xi-angry-face:before {
    content: "\e9e2"; }
  i.xi.xi-emoticon-devil-o:before {
    content: "\e9e3"; }
  i.xi.xi-emoticon-cool:before {
    content: "\e9e0"; }
  i.xi.xi-emoticon-cool-o:before {
    content: "\e9e1"; }
  i.xi.xi-bell:before {
    content: "\e99c"; }
  i.xi.xi-bell-o:before {
    content: "\e99d"; }
  i.xi.xi-bell-off:before {
    content: "\e99e"; }
  i.xi.xi-bell-slash:before {
    content: "\e99e"; }
  i.xi.xi-bell-off-o:before {
    content: "\e99f"; }
  i.xi.xi-alarm:before {
    content: "\ea1e"; }
  i.xi.xi-alarm-o:before {
    content: "\ea1f"; }
  i.xi.xi-alarm-off:before {
    content: "\ea20"; }
  i.xi.xi-time:before {
    content: "\ea2b"; }
  i.xi.xi-time-o:before {
    content: "\ea2c"; }
  i.xi.xi-snooze:before {
    content: "\ea27"; }
  i.xi.xi-calendar:before {
    content: "\e9a0"; }
  i.xi.xi-calendar-add:before {
    content: "\e9a1"; }
  i.xi.xi-calendar-remove:before {
    content: "\e9a2"; }
  i.xi.xi-calendar-cancle:before {
    content: "\e9a3"; }
  i.xi.xi-calendar-check:before {
    content: "\e9a4"; }
  i.xi.xi-calendar-list:before {
    content: "\e9a5"; }
  i.xi.xi-new:before {
    content: "\e9a8"; }
  i.xi.xi-new-o:before {
    content: "\e9a9"; }
  i.xi.xi-info:before {
    content: "\e9a6"; }
  i.xi.xi-information-circle:before {
    content: "\e9a6"; }
  i.xi.xi-info-o:before {
    content: "\e9a7"; }
  i.xi.xi-help:before {
    content: "\e9ad"; }
  i.xi.xi-unknown-circle:before {
    content: "\e9ad"; }
  i.xi.xi-help-o:before {
    content: "\e9ac"; }
  i.xi.xi-error:before {
    content: "\e9aa"; }
  i.xi.xi-error-o:before {
    content: "\e9ab"; }
  i.xi.xi-ban:before {
    content: "\e9ae"; }
  i.xi.xi-slash-circle:before {
    content: "\e9ae"; }
  i.xi.xi-warning:before {
    content: "\ea2d"; }
  i.xi.xi-hand-paper:before {
    content: "\ea21"; }
  i.xi.xi-key:before {
    content: "\ea22"; }
  i.xi.xi-security:before {
    content: "\ea24"; }
  i.xi.xi-shield:before {
    content: "\ea24"; }
  i.xi.xi-shield-checked:before {
    content: "\ea25"; }
  i.xi.xi-check-shield:before {
    content: "\ea25"; }
  i.xi.xi-shield-checked-o:before {
    content: "\ea26"; }
  i.xi.xi-align-justify:before {
    content: "\e956"; }
  i.xi.xi-align-left:before {
    content: "\e957"; }
  i.xi.xi-align-center:before {
    content: "\e958"; }
  i.xi.xi-align-right:before {
    content: "\e959"; }
  i.xi.xi-indent:before {
    content: "\e95a"; }
  i.xi.xi-dedent:before {
    content: "\e95b"; }
  i.xi.xi-list-dot:before {
    content: "\e95c"; }
  i.xi.xi-list-ul:before {
    content: "\e95c"; }
  i.xi.xi-list-square:before {
    content: "\e95d"; }
  i.xi.xi-list-ul-square:before {
    content: "\e95d"; }
  i.xi.xi-list-number:before {
    content: "\ea6b"; }
  i.xi.xi-list-ol:before {
    content: "\ea6b"; }
  i.xi.xi-list:before {
    content: "\e95f"; }
  i.xi.xi-list-ul-l:before {
    content: "\e95f"; }
  i.xi.xi-paragraph:before {
    content: "\e968"; }
  i.xi.xi-bold:before {
    content: "\e96a"; }
  i.xi.xi-italic:before {
    content: "\e96c"; }
  i.xi.xi-strikethrough:before {
    content: "\e969"; }
  i.xi.xi-underline:before {
    content: "\e96b"; }
  i.xi.xi-caps:before {
    content: "\e96d"; }
  i.xi.xi-text-size:before {
    content: "\eaba"; }
  i.xi.xi-text-type:before {
    content: "\e97f"; }
  i.xi.xi-type:before {
    content: "\e97f"; }
  i.xi.xi-spellcheck:before {
    content: "\eaa9"; }
  i.xi.xi-translate:before {
    content: "\eabc"; }
  i.xi.xi-line-height:before {
    content: "\e976"; }
  i.xi.xi-lineheight:before {
    content: "\e976"; }
  i.xi.xi-font:before {
    content: "\ea63"; }
  i.xi.xi-text-format:before {
    content: "\eab9"; }
  i.xi.xi-text-color:before {
    content: "\eaaa"; }
  i.xi.xi-color-fill:before {
    content: "\ea5e"; }
  i.xi.xi-color-helper:before {
    content: "\ea5f"; }
  i.xi.xi-scissors:before {
    content: "\e994"; }
  i.xi.xi-document:before {
    content: "\e998"; }
  i.xi.xi-form:before {
    content: "\e998"; }
  i.xi.xi-palette:before {
    content: "\e995"; }
  i.xi.xi-color:before {
    content: "\e995"; }
  i.xi.xi-color-dropper:before {
    content: "\e97d"; }
  i.xi.xi-eye-dropper:before {
    content: "\e97d"; }
  i.xi.xi-eraser:before {
    content: "\e970"; }
  i.xi.xi-eraser-o:before {
    content: "\e971"; }
  i.xi.xi-sort-asc:before {
    content: "\e974"; }
  i.xi.xi-lineheight-plus:before {
    content: "\e974"; }
  i.xi.xi-sort-desc:before {
    content: "\e975"; }
  i.xi.xi-lineheight-minus:before {
    content: "\e975"; }
  i.xi.xi-rotate-right:before {
    content: "\e978"; }
  i.xi.xi-rotate-left:before {
    content: "\e979"; }
  i.xi.xi-layout:before {
    content: "\e988"; }
  i.xi.xi-layout-top:before {
    content: "\e988"; }
  i.xi.xi-layout-o:before {
    content: "\e98e"; }
  i.xi.xi-layout-full:before {
    content: "\e989"; }
  i.xi.xi-layout-full-o:before {
    content: "\e98f"; }
  i.xi.xi-layout-snb:before {
    content: "\e98a"; }
  i.xi.xi-layout-top-left:before {
    content: "\e98a"; }
  i.xi.xi-layout-snb-o:before {
    content: "\e990"; }
  i.xi.xi-layout-aside:before {
    content: "\e98b"; }
  i.xi.xi-layout-top-right:before {
    content: "\e98b"; }
  i.xi.xi-layout-aside-o:before {
    content: "\e991"; }
  i.xi.xi-layout-column:before {
    content: "\e98c"; }
  i.xi.xi-layout-top-three:before {
    content: "\e98c"; }
  i.xi.xi-layout-column-o:before {
    content: "\e992"; }
  i.xi.xi-crop:before {
    content: "\e999"; }
  i.xi.xi-border-color:before {
    content: "\ea39"; }
  i.xi.xi-line-style:before {
    content: "\ea66"; }
  i.xi.xi-line-weight:before {
    content: "\ea67"; }
  i.xi.xi-border-all:before {
    content: "\e987"; }
  i.xi.xi-border-bottom:before {
    content: "\ea32"; }
  i.xi.xi-border-clear:before {
    content: "\ea33"; }
  i.xi.xi-border-horizontal:before {
    content: "\ea45"; }
  i.xi.xi-border-inner:before {
    content: "\ea46"; }
  i.xi.xi-border-left:before {
    content: "\ea49"; }
  i.xi.xi-border-outer:before {
    content: "\ea4f"; }
  i.xi.xi-border-right:before {
    content: "\ea51"; }
  i.xi.xi-border-style:before {
    content: "\ea52"; }
  i.xi.xi-border-top:before {
    content: "\ea54"; }
  i.xi.xi-border-vertical:before {
    content: "\ea5c"; }
  i.xi.xi-valign-top:before {
    content: "\eabf"; }
  i.xi.xi-valign-bottom:before {
    content: "\eabd"; }
  i.xi.xi-valign-center:before {
    content: "\eabe"; }
  i.xi.xi-code:before {
    content: "\ea5d"; }
  i.xi.xi-emoticon:before {
    content: "\ea62"; }
  i.xi.xi-emoji:before {
    content: "\ea62"; }
  i.xi.xi-face:before {
    content: "\ea62"; }
  i.xi.xi-link-insert:before {
    content: "\ea6a"; }
  i.xi.xi-link-l:before {
    content: "\ea6a"; }
  i.xi.xi-link-broken:before {
    content: "\ea68"; }
  i.xi.xi-unlink:before {
    content: "\ea68"; }
  i.xi.xi-omega:before {
    content: "\ea6c"; }
  i.xi.xi-opacity:before {
    content: "\ea6d"; }
  i.xi.xi-overscan:before {
    content: "\ea78"; }
  i.xi.xi-paperclip:before {
    content: "\ea7f"; }
  i.xi.xi-transform:before {
    content: "\eabb"; }
  i.xi.xi-power-off:before {
    content: "\e94c"; }
  i.xi.xi-esc:before {
    content: "\e94f"; }
  i.xi.xi-command:before {
    content: "\e94e"; }
  i.xi.xi-alt:before {
    content: "\e94d"; }
  i.xi.xi-tab:before {
    content: "\eaf8"; }
  i.xi.xi-backspace:before {
    content: "\eac4"; }
  i.xi.xi-capslock:before {
    content: "\ead6"; }
  i.xi.xi-watch:before {
    content: "\e9b5"; }
  i.xi.xi-mouse:before {
    content: "\e9b6"; }
  i.xi.xi-sdcard:before {
    content: "\e9b7"; }
  i.xi.xi-usb-drive:before {
    content: "\e9b8"; }
  i.xi.xi-diskette:before {
    content: "\e9ba"; }
  i.xi.xi-print:before {
    content: "\e9bb"; }
  i.xi.xi-social-print:before {
    content: "\e9bb"; }
  i.xi.xi-fax:before {
    content: "\e9bc"; }
  i.xi.xi-webcam:before {
    content: "\e9cc"; }
  i.xi.xi-projector:before {
    content: "\e9ce"; }
  i.xi.xi-presentation:before {
    content: "\e9cf"; }
  i.xi.xi-plug:before {
    content: "\e9d0"; }
  i.xi.xi-speaker:before {
    content: "\ea60"; }
  i.xi.xi-airplay:before {
    content: "\eac0"; }
  i.xi.xi-alarm-clock:before {
    content: "\eac1"; }
  i.xi.xi-alarm-clock-o:before {
    content: "\eac2"; }
  i.xi.xi-alarm-clock-off:before {
    content: "\eac3"; }
  i.xi.xi-battery:before {
    content: "\eac5"; }
  i.xi.xi-battery-full:before {
    content: "\eac5"; }
  i.xi.xi-battery-o:before {
    content: "\ead0"; }
  i.xi.xi-battery-min:before {
    content: "\ead0"; }
  i.xi.xi-battery-10:before {
    content: "\eac6"; }
  i.xi.xi-battery-20:before {
    content: "\eac7"; }
  i.xi.xi-battery-30:before {
    content: "\eac8"; }
  i.xi.xi-battery-40:before {
    content: "\eac9"; }
  i.xi.xi-battery-50:before {
    content: "\eacb"; }
  i.xi.xi-battery-60:before {
    content: "\eacc"; }
  i.xi.xi-battery-70:before {
    content: "\eacd"; }
  i.xi.xi-battery-80:before {
    content: "\eace"; }
  i.xi.xi-battery-90:before {
    content: "\eacf"; }
  i.xi.xi-bluetooth:before {
    content: "\ead1"; }
  i.xi.xi-bluetooth-off:before {
    content: "\ead2"; }
  i.xi.xi-bluetooth-on:before {
    content: "\ead3"; }
  i.xi.xi-bluetooth-search:before {
    content: "\ead4"; }
  i.xi.xi-brightness:before {
    content: "\ead5"; }
  i.xi.xi-clock:before {
    content: "\ead7"; }
  i.xi.xi-clock-o:before {
    content: "\ead8"; }
  i.xi.xi-contrast:before {
    content: "\ead9"; }
  i.xi.xi-desktop:before {
    content: "\eada"; }
  i.xi.xi-monitor:before {
    content: "\eada"; }
  i.xi.xi-laptop:before {
    content: "\eae9"; }
  i.xi.xi-devices:before {
    content: "\eadb"; }
  i.xi.xi-tablet:before {
    content: "\eaf9"; }
  i.xi.xi-mobile:before {
    content: "\eaed"; }
  i.xi.xi-tv:before {
    content: "\eafb"; }
  i.xi.xi-enter:before {
    content: "\eadc"; }
  i.xi.xi-flashlight:before {
    content: "\eadd"; }
  i.xi.xi-flashlight-off:before {
    content: "\eade"; }
  i.xi.xi-flight-off:before {
    content: "\eadf"; }
  i.xi.xi-flight-on:before {
    content: "\eae0"; }
  i.xi.xi-gamepad:before {
    content: "\eae1"; }
  i.xi.xi-gps:before {
    content: "\eae2"; }
  i.xi.xi-gps-none:before {
    content: "\eae3"; }
  i.xi.xi-gps-off:before {
    content: "\eae4"; }
  i.xi.xi-hdd:before {
    content: "\eae5"; }
  i.xi.xi-hdmi:before {
    content: "\eae6"; }
  i.xi.xi-keyboard:before {
    content: "\eae7"; }
  i.xi.xi-keyboard-o:before {
    content: "\eae8"; }
  i.xi.xi-space-bar:before {
    content: "\eaf7"; }
  i.xi.xi-lock-rotation:before {
    content: "\eaea"; }
  i.xi.xi-chip:before {
    content: "\eaeb"; }
  i.xi.xi-chip-o:before {
    content: "\eaec"; }
  i.xi.xi-mouse-pointer:before {
    content: "\eaee"; }
  i.xi.xi-router:before {
    content: "\eaef"; }
  i.xi.xi-wifi-router:before {
    content: "\eaef"; }
  i.xi.xi-router-o:before {
    content: "\eaf0"; }
  i.xi.xi-signal:before {
    content: "\eaf1"; }
  i.xi.xi-signal-1:before {
    content: "\eaf2"; }
  i.xi.xi-signal-2:before {
    content: "\eaf3"; }
  i.xi.xi-signal-3:before {
    content: "\eaf4"; }
  i.xi.xi-signal-4:before {
    content: "\eaf5"; }
  i.xi.xi-signal-none:before {
    content: "\eaf6"; }
  i.xi.xi-touch:before {
    content: "\eafa"; }
  i.xi.xi-usb:before {
    content: "\eafc"; }
  i.xi.xi-wifi:before {
    content: "\eafd"; }
  i.xi.xi-wifi-signal:before {
    content: "\eafd"; }
  i.xi.xi-wifi-signal-mid:before {
    content: "\eafe"; }
  i.xi.xi-wifi-signal-min:before {
    content: "\eaff"; }
  i.xi.xi-wifi-signal-off:before {
    content: "\eb00"; }
  i.xi.xi-chart-bar:before {
    content: "\e901"; }
  i.xi.xi-book:before {
    content: "\ea34"; }
  i.xi.xi-book-o:before {
    content: "\ea35"; }
  i.xi.xi-play:before {
    content: "\ea3e"; }
  i.xi.xi-caret-right:before {
    content: "\ea3e"; }
  i.xi.xi-play-circle:before {
    content: "\ea40"; }
  i.xi.xi-play-circle-o:before {
    content: "\ea3f"; }
  i.xi.xi-pause-circle:before {
    content: "\ea3d"; }
  i.xi.xi-pause-circle-o:before {
    content: "\ea3c"; }
  i.xi.xi-pause:before {
    content: "\ea3b"; }
  i.xi.xi-stop:before {
    content: "\ea41"; }
  i.xi.xi-recording-stop:before {
    content: "\eb24"; }
  i.xi.xi-recording:before {
    content: "\eb21"; }
  i.xi.xi-record:before {
    content: "\eb21"; }
  i.xi.xi-eject:before {
    content: "\ea42"; }
  i.xi.xi-step-backward:before {
    content: "\ea43"; }
  i.xi.xi-step-forward:before {
    content: "\ea44"; }
  i.xi.xi-backward:before {
    content: "\ea47"; }
  i.xi.xi-forward:before {
    content: "\ea48"; }
  i.xi.xi-fast-backward:before {
    content: "\eb08"; }
  i.xi.xi-fast-forward:before {
    content: "\eb07"; }
  i.xi.xi-camera:before {
    content: "\ea4b"; }
  i.xi.xi-camera-o:before {
    content: "\ea4a"; }
  i.xi.xi-videocam:before {
    content: "\ea4d"; }
  i.xi.xi-video-camera:before {
    content: "\ea4d"; }
  i.xi.xi-videocam-o:before {
    content: "\ea4c"; }
  i.xi.xi-image:before {
    content: "\ea50"; }
  i.xi.xi-image-o:before {
    content: "\ea4e"; }
  i.xi.xi-microphone-o:before {
    content: "\ea56"; }
  i.xi.xi-microphone:before {
    content: "\ea57"; }
  i.xi.xi-microphone-off:before {
    content: "\ea58"; }
  i.xi.xi-microphone-slash:before {
    content: "\ea58"; }
  i.xi.xi-volume-mute:before {
    content: "\ea59"; }
  i.xi.xi-volume:before {
    content: "\ea59"; }
  i.xi.xi-volume-down:before {
    content: "\ea5a"; }
  i.xi.xi-volume-min:before {
    content: "\ea5a"; }
  i.xi.xi-volume-up:before {
    content: "\ea5b"; }
  i.xi.xi-volume-max:before {
    content: "\ea5b"; }
  i.xi.xi-volume-off:before {
    content: "\eb39"; }
  i.xi.xi-volume-slash:before {
    content: "\eb39"; }
  i.xi.xi-album:before {
    content: "\ea61"; }
  i.xi.xi-record-play:before {
    content: "\ea61"; }
  i.xi.xi-cd-r:before {
    content: "\ea61"; }
  i.xi.xi-headset:before {
    content: "\ea64"; }
  i.xi.xi-music:before {
    content: "\ea65"; }
  i.xi.xi-chart-pyramid:before {
    content: "\ea69"; }
  i.xi.xi-chart-bar-square:before {
    content: "\eb01"; }
  i.xi.xi-chart-line:before {
    content: "\eb02"; }
  i.xi.xi-chart-pie:before {
    content: "\eb03"; }
  i.xi.xi-chart-pie-o:before {
    content: "\eb04"; }
  i.xi.xi-equalizer:before {
    content: "\eb05"; }
  i.xi.xi-volume-bar:before {
    content: "\eb05"; }
  i.xi.xi-equalizer-thin:before {
    content: "\ea55"; }
  i.xi.xi-exposure:before {
    content: "\eb06"; }
  i.xi.xi-flash:before {
    content: "\eb09"; }
  i.xi.xi-flash-off:before {
    content: "\eb0a"; }
  i.xi.xi-focus-center:before {
    content: "\eb0b"; }
  i.xi.xi-focus-frame:before {
    content: "\eb0c"; }
  i.xi.xi-focus-weak:before {
    content: "\eb11"; }
  i.xi.xi-paper:before {
    content: "\eb1e"; }
  i.xi.xi-paper-o:before {
    content: "\eb1f"; }
  i.xi.xi-library-books:before {
    content: "\eb14"; }
  i.xi.xi-library-books-o:before {
    content: "\eb16"; }
  i.xi.xi-library-image:before {
    content: "\eb17"; }
  i.xi.xi-library-image-o:before {
    content: "\eb18"; }
  i.xi.xi-library-music:before {
    content: "\eb19"; }
  i.xi.xi-library-video:before {
    content: "\eb1a"; }
  i.xi.xi-movie:before {
    content: "\eb1b"; }
  i.xi.xi-movie-o:before {
    content: "\eb1c"; }
  i.xi.xi-pacman:before {
    content: "\eb1d"; }
  i.xi.xi-radio:before {
    content: "\eb20"; }
  i.xi.xi-repeat:before {
    content: "\eb25"; }
  i.xi.xi-repeat-one:before {
    content: "\eb26"; }
  i.xi.xi-shuffle:before {
    content: "\eb27"; }
  i.xi.xi-timer:before {
    content: "\eb29"; }
  i.xi.xi-timer-o:before {
    content: "\eb2a"; }
  i.xi.xi-timer-off-o:before {
    content: "\eb2f"; }
  i.xi.xi-timer-sand:before {
    content: "\eb30"; }
  i.xi.xi-sandwatch-min:before {
    content: "\eb30"; }
  i.xi.xi-timer-sand-o:before {
    content: "\eb31"; }
  i.xi.xi-trending-flat:before {
    content: "\eb36"; }
  i.xi.xi-trending-down:before {
    content: "\eb33"; }
  i.xi.xi-decline:before {
    content: "\eb33"; }
  i.xi.xi-trending-up:before {
    content: "\eb37"; }
  i.xi.xi-rise:before {
    content: "\eb37"; }
  i.xi.xi-tune:before {
    content: "\eb38"; }
  i.xi.xi-map:before {
    content: "\eb22"; }
  i.xi.xi-map-folding:before {
    content: "\eb22"; }
  i.xi.xi-map-o:before {
    content: "\eb23"; }
  i.xi.xi-my-location:before {
    content: "\eb5d"; }
  i.xi.xi-location-arrow:before {
    content: "\eb58"; }
  i.xi.xi-woman:before {
    content: "\ea2f"; }
  i.xi.xi-man:before {
    content: "\ea30"; }
  i.xi.xi-toilet:before {
    content: "\ea31"; }
  i.xi.xi-pregnant-woman:before {
    content: "\eb61"; }
  i.xi.xi-maternity:before {
    content: "\eb61"; }
  i.xi.xi-walk:before {
    content: "\eb6d"; }
  i.xi.xi-walking:before {
    content: "\eb6d"; }
  i.xi.xi-run:before {
    content: "\eb63"; }
  i.xi.xi-wheelchair:before {
    content: "\eb6e"; }
  i.xi.xi-glass:before {
    content: "\eb28"; }
  i.xi.xi-market:before {
    content: "\eb2b"; }
  i.xi.xi-shopping-bag:before {
    content: "\eb2b"; }
  i.xi.xi-pharmacy:before {
    content: "\eb2c"; }
  i.xi.xi-laundry:before {
    content: "\eb2e"; }
  i.xi.xi-florist:before {
    content: "\eb32"; }
  i.xi.xi-hlz:before {
    content: "\eb34"; }
  i.xi.xi-park:before {
    content: "\eb35"; }
  i.xi.xi-airplane:before {
    content: "\eb3a"; }
  i.xi.xi-all:before {
    content: "\eb3b"; }
  i.xi.xi-flight-takeoff:before {
    content: "\eb3c"; }
  i.xi.xi-flight:before {
    content: "\eb3c"; }
  i.xi.xi-flight-land:before {
    content: "\eb3d"; }
  i.xi.xi-bank:before {
    content: "\eb3e"; }
  i.xi.xi-bank-o:before {
    content: "\eb3e"; }
  i.xi.xi-beach:before {
    content: "\eb3f"; }
  i.xi.xi-bicycle:before {
    content: "\eb40"; }
  i.xi.xi-building:before {
    content: "\eb41"; }
  i.xi.xi-bus:before {
    content: "\eb42"; }
  i.xi.xi-business:before {
    content: "\eb43"; }
  i.xi.xi-cafe:before {
    content: "\eb44"; }
  i.xi.xi-cake:before {
    content: "\eb47"; }
  i.xi.xi-car:before {
    content: "\eb48"; }
  i.xi.xi-church:before {
    content: "\eb49"; }
  i.xi.xi-city:before {
    content: "\eb4a"; }
  i.xi.xi-compass:before {
    content: "\eb4b"; }
  i.xi.xi-compass-o:before {
    content: "\eb4c"; }
  i.xi.xi-convenience-store:before {
    content: "\eb4d"; }
  i.xi.xi-directions:before {
    content: "\eb4e"; }
  i.xi.xi-factory:before {
    content: "\eb4f"; }
  i.xi.xi-fitness-center:before {
    content: "\eb50"; }
  i.xi.xi-garden:before {
    content: "\eb51"; }
  i.xi.xi-gas-station:before {
    content: "\eb52"; }
  i.xi.xi-golf:before {
    content: "\eb53"; }
  i.xi.xi-hand-pointing:before {
    content: "\eb54"; }
  i.xi.xi-hospital:before {
    content: "\eb55"; }
  i.xi.xi-hotel:before {
    content: "\eb56"; }
  i.xi.xi-library:before {
    content: "\eb57"; }
  i.xi.xi-maker:before {
    content: "\eb59"; }
  i.xi.xi-marker-circle:before {
    content: "\eb59"; }
  i.xi.xi-marker-plus:before {
    content: "\eb5b"; }
  i.xi.xi-maker-drop:before {
    content: "\eb5f"; }
  i.xi.xi-map-marker:before {
    content: "\eb5f"; }
  i.xi.xi-marker-check:before {
    content: "\eb5a"; }
  i.xi.xi-motorcycle:before {
    content: "\eb5c"; }
  i.xi.xi-navigation:before {
    content: "\eb5e"; }
  i.xi.xi-pool:before {
    content: "\eb60"; }
  i.xi.xi-restaurant:before {
    content: "\eb62"; }
  i.xi.xi-school:before {
    content: "\eb64"; }
  i.xi.xi-ship:before {
    content: "\eb65"; }
  i.xi.xi-spa:before {
    content: "\eb66"; }
  i.xi.xi-stroller:before {
    content: "\eb67"; }
  i.xi.xi-subway:before {
    content: "\eb68"; }
  i.xi.xi-taxi:before {
    content: "\eb69"; }
  i.xi.xi-theater:before {
    content: "\eb6a"; }
  i.xi.xi-film:before {
    content: "\eb6a"; }
  i.xi.xi-traffic:before {
    content: "\eb6b"; }
  i.xi.xi-train:before {
    content: "\eb6c"; }
  i.xi.xi-cart:before {
    content: "\eb6f"; }
  i.xi.xi-cart-o:before {
    content: "\e9fb"; }
  i.xi.xi-cart-add:before {
    content: "\e9fc"; }
  i.xi.xi-cart-remove:before {
    content: "\e9fd"; }
  i.xi.xi-basket:before {
    content: "\e9fe"; }
  i.xi.xi-box:before {
    content: "\ea01"; }
  i.xi.xi-fragile:before {
    content: "\ea02"; }
  i.xi.xi-coupon:before {
    content: "\ea03"; }
  i.xi.xi-shop:before {
    content: "\ea05"; }
  i.xi.xi-gift:before {
    content: "\eb70"; }
  i.xi.xi-present:before {
    content: "\eb70"; }
  i.xi.xi-gift-o:before {
    content: "\ea3a"; }
  i.xi.xi-exchange:before {
    content: "\ea53"; }
  i.xi.xi-barter:before {
    content: "\ea53"; }
  i.xi.xi-yuan:before {
    content: "\ea6e"; }
  i.xi.xi-won:before {
    content: "\ea6f"; }
  i.xi.xi-yen:before {
    content: "\ea70"; }
  i.xi.xi-pound:before {
    content: "\ea71"; }
  i.xi.xi-euro:before {
    content: "\ea72"; }
  i.xi.xi-rial:before {
    content: "\ea73"; }
  i.xi.xi-dollar:before {
    content: "\ea74"; }
  i.xi.xi-peso:before {
    content: "\ea75"; }
  i.xi.xi-rupee:before {
    content: "\ea76"; }
  i.xi.xi-credit-card:before {
    content: "\ea77"; }
  i.xi.xi-money:before {
    content: "\ea79"; }
  i.xi.xi-piggy-bank:before {
    content: "\ea7a"; }
  i.xi.xi-strongbox:before {
    content: "\ea7b"; }
  i.xi.xi-briefcase:before {
    content: "\ea7c"; }
  i.xi.xi-percent:before {
    content: "\ea7d"; }
  i.xi.xi-calculator:before {
    content: "\ea7e"; }
  i.xi.xi-medicine:before {
    content: "\eb2d"; }
  i.xi.xi-receipt:before {
    content: "\eb71"; }
  i.xi.xi-truck:before {
    content: "\eb72"; }
  i.xi.xi-wallet:before {
    content: "\eb73"; }
  i.xi.xi-file:before {
    content: "\ea94"; }
  i.xi.xi-file-o:before {
    content: "\ea80"; }
  i.xi.xi-file-add:before {
    content: "\ea95"; }
  i.xi.xi-file-add-o:before {
    content: "\ea81"; }
  i.xi.xi-file-remove:before {
    content: "\ea96"; }
  i.xi.xi-file-remove-o:before {
    content: "\ea82"; }
  i.xi.xi-file-text:before {
    content: "\ea97"; }
  i.xi.xi-file-text-o:before {
    content: "\ea83"; }
  i.xi.xi-documents:before {
    content: "\ea98"; }
  i.xi.xi-stack-paper:before {
    content: "\ea98"; }
  i.xi.xi-documents-o:before {
    content: "\ea84"; }
  i.xi.xi-file-image:before {
    content: "\ea99"; }
  i.xi.xi-file-image-o:before {
    content: "\ea85"; }
  i.xi.xi-file-video:before {
    content: "\ea9a"; }
  i.xi.xi-file-video-o:before {
    content: "\ea86"; }
  i.xi.xi-file-music:before {
    content: "\ea9b"; }
  i.xi.xi-file-music-o:before {
    content: "\ea87"; }
  i.xi.xi-file-code:before {
    content: "\ea9c"; }
  i.xi.xi-file-code-o:before {
    content: "\ea88"; }
  i.xi.xi-file-zip:before {
    content: "\ea9d"; }
  i.xi.xi-file-zip-o:before {
    content: "\ea89"; }
  i.xi.xi-file-upload:before {
    content: "\ea9e"; }
  i.xi.xi-file-upload-o:before {
    content: "\ea8a"; }
  i.xi.xi-file-download:before {
    content: "\ea9f"; }
  i.xi.xi-file-download-o:before {
    content: "\ea8b"; }
  i.xi.xi-file-check:before {
    content: "\eaa0"; }
  i.xi.xi-file-check-o:before {
    content: "\ea8c"; }
  i.xi.xi-folder:before {
    content: "\eaa1"; }
  i.xi.xi-folder-o:before {
    content: "\ea8d"; }
  i.xi.xi-folder-open:before {
    content: "\eaa8"; }
  i.xi.xi-folder-shared:before {
    content: "\eb7d"; }
  i.xi.xi-folder-zip:before {
    content: "\eaa7"; }
  i.xi.xi-folder-zip-o:before {
    content: "\ea93"; }
  i.xi.xi-folder-add:before {
    content: "\eaa2"; }
  i.xi.xi-folder-add-o:before {
    content: "\ea8e"; }
  i.xi.xi-folder-remove:before {
    content: "\eaa3"; }
  i.xi.xi-folder-remove-o:before {
    content: "\ea8f"; }
  i.xi.xi-folder-check:before {
    content: "\eaa4"; }
  i.xi.xi-folder-check-o:before {
    content: "\ea90"; }
  i.xi.xi-folder-upload:before {
    content: "\eaa5"; }
  i.xi.xi-folder-upload-o:before {
    content: "\ea91"; }
  i.xi.xi-folder-download:before {
    content: "\eaa6"; }
  i.xi.xi-folder-download-o:before {
    content: "\ea92"; }
  i.xi.xi-attachment:before {
    content: "\eb74"; }
  i.xi.xi-cloud:before {
    content: "\eb75"; }
  i.xi.xi-cloud-o:before {
    content: "\eb78"; }
  i.xi.xi-cloud-off:before {
    content: "\eb79"; }
  i.xi.xi-cloud-upload:before {
    content: "\eb7a"; }
  i.xi.xi-cloud-upload-o:before {
    content: "\eb7b"; }
  i.xi.xi-cloud-download:before {
    content: "\eb76"; }
  i.xi.xi-cloud-download-o:before {
    content: "\eb77"; }
  i.xi.xi-upload:before {
    content: "\eb7e"; }
  i.xi.xi-download:before {
    content: "\eb7c"; }
  i.xi.xi-globus:before {
    content: "\e9d1"; }
  i.xi.xi-browser:before {
    content: "\e9db"; }
  i.xi.xi-browser-text:before {
    content: "\e9dc"; }
  i.xi.xi-rss-square:before {
    content: "\e9e5"; }
  i.xi.xi-central-signal:before {
    content: "\e9e7"; }
  i.xi.xi-central-router:before {
    content: "\e9e8"; }
  i.xi.xi-antenna:before {
    content: "\e9f6"; }
  i.xi.xi-barcode:before {
    content: "\e9ff"; }
  i.xi.xi-qr-code:before {
    content: "\ea00"; }
  i.xi.xi-accessibility:before {
    content: "\eb7f"; }
  i.xi.xi-branch:before {
    content: "\eb80"; }
  i.xi.xi-fork:before {
    content: "\eb85"; }
  i.xi.xi-code-fork:before {
    content: "\eb85"; }
  i.xi.xi-pull-requests:before {
    content: "\eb92"; }
  i.xi.xi-merge:before {
    content: "\eb8b"; }
  i.xi.xi-log:before {
    content: "\eb8a"; }
  i.xi.xi-bug:before {
    content: "\eb81"; }
  i.xi.xi-cookie:before {
    content: "\eb82"; }
  i.xi.xi-fingerprint:before {
    content: "\eb84"; }
  i.xi.xi-css3:before {
    content: "\eb83"; }
  i.xi.xi-html5:before {
    content: "\eb86"; }
  i.xi.xi-javascript:before {
    content: "\eb87"; }
  i.xi.xi-csharp:before {
    content: "\eb88"; }
  i.xi.xi-php:before {
    content: "\eb91"; }
  i.xi.xi-python:before {
    content: "\eb94"; }
  i.xi.xi-milestone:before {
    content: "\eb8c"; }
  i.xi.xi-network-company:before {
    content: "\eb8d"; }
  i.xi.xi-network-folder:before {
    content: "\eb8e"; }
  i.xi.xi-network-home:before {
    content: "\eb8f"; }
  i.xi.xi-home-network:before {
    content: "\eb8f"; }
  i.xi.xi-network-public:before {
    content: "\eb90"; }
  i.xi.xi-cloud-network:before {
    content: "\eb90"; }
  i.xi.xi-puzzle:before {
    content: "\eb93"; }
  i.xi.xi-rss:before {
    content: "\eb95"; }
  i.xi.xi-social-rssfeed:before {
    content: "\eb95"; }
  i.xi.xi-server:before {
    content: "\eb96"; }
  i.xi.xi-network-server:before {
    content: "\eb97"; }
  i.xi.xi-sitemap:before {
    content: "\eb98"; }
  i.xi.xi-sitemap-o:before {
    content: "\eb99"; }
  i.xi.xi-spinner-1:before {
    content: "\ec33"; }
  i.xi.xi-spinner-2:before {
    content: "\ec34"; }
  i.xi.xi-spinner-3:before {
    content: "\ec35"; }
  i.xi.xi-spinner-4:before {
    content: "\ec36"; }
  i.xi.xi-spinner-5:before {
    content: "\ec37"; }
  i.xi.xi-full-moon:before {
    content: "\eb0d"; }
  i.xi.xi-fullmoon:before {
    content: "\eb0d"; }
  i.xi.xi-half-moon:before {
    content: "\eb0e"; }
  i.xi.xi-halfmoon:before {
    content: "\eb0e"; }
  i.xi.xi-crescent:before {
    content: "\eb9b"; }
  i.xi.xi-moon:before {
    content: "\eb0f"; }
  i.xi.xi-night:before {
    content: "\eb10"; }
  i.xi.xi-snow-crystal:before {
    content: "\eb15"; }
  i.xi.xi-snow:before {
    content: "\eb15"; }
  i.xi.xi-cloudy:before {
    content: "\eb9c"; }
  i.xi.xi-fog:before {
    content: "\eb9d"; }
  i.xi.xi-foggy:before {
    content: "\eb9e"; }
  i.xi.xi-lightning:before {
    content: "\eb9f"; }
  i.xi.xi-partly-cloudy:before {
    content: "\eba0"; }
  i.xi.xi-pouring:before {
    content: "\eba1"; }
  i.xi.xi-rain:before {
    content: "\eba1"; }
  i.xi.xi-snowy:before {
    content: "\eba2"; }
  i.xi.xi-heavy-snow:before {
    content: "\eba2"; }
  i.xi.xi-sun:before {
    content: "\eba3"; }
  i.xi.xi-sun-o:before {
    content: "\eba4"; }
  i.xi.xi-sunset:before {
    content: "\eba5"; }
  i.xi.xi-sunset-down:before {
    content: "\eba6"; }
  i.xi.xi-sunset-up:before {
    content: "\eba7"; }
  i.xi.xi-thermometer:before {
    content: "\eba8"; }
  i.xi.xi-tint:before {
    content: "\eba9"; }
  i.xi.xi-humidity:before {
    content: "\eba9"; }
  i.xi.xi-tint-o:before {
    content: "\ebaa"; }
  i.xi.xi-tornado:before {
    content: "\ebab"; }
  i.xi.xi-umbrella:before {
    content: "\ebac"; }
  i.xi.xi-umbrella-o:before {
    content: "\ebad"; }
  i.xi.xi-windy:before {
    content: "\ebae"; }
  i.xi.xi-wind:before {
    content: "\ebae"; }
  i.xi.xi-windy-variant:before {
    content: "\ebaf"; }
  i.xi.xi-windsock:before {
    content: "\eb13"; }
  i.xi.xi-cc-cc:before {
    content: "\eaad"; }
  i.xi.xi-cc-by:before {
    content: "\eaae"; }
  i.xi.xi-cc-sa:before {
    content: "\eaaf"; }
  i.xi.xi-cc-nd:before {
    content: "\eab0"; }
  i.xi.xi-cc-nc:before {
    content: "\eab1"; }
  i.xi.xi-cc-nc-eu:before {
    content: "\eab2"; }
  i.xi.xi-cc-nc-jp:before {
    content: "\eab3"; }
  i.xi.xi-cc-remix:before {
    content: "\eab4"; }
  i.xi.xi-cc-pd:before {
    content: "\eab5"; }
  i.xi.xi-cc-sampling:before {
    content: "\eab6"; }
  i.xi.xi-cc-zero:before {
    content: "\eab7"; }
  i.xi.xi-cc-share:before {
    content: "\eab8"; }
  i.xi.xi-copyleft:before {
    content: "\ebb0"; }
  i.xi.xi-copyright:before {
    content: "\ebb1"; }
  i.xi.xi-registered:before {
    content: "\eaab"; }
  i.xi.xi-trademark:before {
    content: "\eaac"; }
  i.xi.xi-500px:before {
    content: "\ebb2"; }
  i.xi.xi-adobe:before {
    content: "\ebb3"; }
  i.xi.xi-amazon:before {
    content: "\ebb4"; }
  i.xi.xi-android:before {
    content: "\ebb5"; }
  i.xi.xi-apple:before {
    content: "\ebb6"; }
  i.xi.xi-beats:before {
    content: "\ebb7"; }
  i.xi.xi-behance:before {
    content: "\ebb8"; }
  i.xi.xi-bing:before {
    content: "\ebb9"; }
  i.xi.xi-bitbucket:before {
    content: "\ebba"; }
  i.xi.xi-blackberry:before {
    content: "\ebbb"; }
  i.xi.xi-blogger:before {
    content: "\ebbc"; }
  i.xi.xi-cc-amex:before {
    content: "\ebbe"; }
  i.xi.xi-cc-discover:before {
    content: "\ebbf"; }
  i.xi.xi-cc-mastercard:before {
    content: "\ebc0"; }
  i.xi.xi-cc-paypal:before {
    content: "\ebc1"; }
  i.xi.xi-cc-stripe:before {
    content: "\ebc2"; }
  i.xi.xi-cc-visa:before {
    content: "\ebc3"; }
  i.xi.xi-chrome:before {
    content: "\ebc5"; }
  i.xi.xi-codepen:before {
    content: "\ebc6"; }
  i.xi.xi-connectdevelop:before {
    content: "\ebc7"; }
  i.xi.xi-d2:before {
    content: "\ebc8"; }
  i.xi.xi-dashcube:before {
    content: "\ebc9"; }
  i.xi.xi-delicious:before {
    content: "\ebca"; }
  i.xi.xi-deviantart:before {
    content: "\ebcb"; }
  i.xi.xi-digg:before {
    content: "\ebcc"; }
  i.xi.xi-disqus:before {
    content: "\ebcd"; }
  i.xi.xi-dribbble:before {
    content: "\ebce"; }
  i.xi.xi-dropbox:before {
    content: "\ebcf"; }
  i.xi.xi-drupal:before {
    content: "\ebd0"; }
  i.xi.xi-edge:before {
    content: "\ebd1"; }
  i.xi.xi-evernote:before {
    content: "\ebd2"; }
  i.xi.xi-facebook:before {
    content: "\ebd3"; }
  i.xi.xi-facebook-messenger:before {
    content: "\ebd4"; }
  i.xi.xi-facebook-official:before {
    content: "\ebd5"; }
  i.xi.xi-feedly:before {
    content: "\ebd6"; }
  i.xi.xi-firefox:before {
    content: "\ebd7"; }
  i.xi.xi-flickr:before {
    content: "\eaca"; }
  i.xi.xi-flickr-square:before {
    content: "\ebd8"; }
  i.xi.xi-foursquare:before {
    content: "\ebd9"; }
  i.xi.xi-ghost:before {
    content: "\ebda"; }
  i.xi.xi-git:before {
    content: "\ebdb"; }
  i.xi.xi-git-symbol:before {
    content: "\ebdc"; }
  i.xi.xi-github:before {
    content: "\ebdd"; }
  i.xi.xi-github-alt:before {
    content: "\ebde"; }
  i.xi.xi-gmail:before {
    content: "\ebdf"; }
  i.xi.xi-google:before {
    content: "\ebe0"; }
  i.xi.xi-google-play:before {
    content: "\ebe1"; }
  i.xi.xi-google-plus:before {
    content: "\ebe2"; }
  i.xi.xi-google-wallet:before {
    content: "\ebe3"; }
  i.xi.xi-gratipay:before {
    content: "\ebe4"; }
  i.xi.xi-hangouts:before {
    content: "\ebe5"; }
  i.xi.xi-hunie:before {
    content: "\ebe6"; }
  i.xi.xi-illustrator:before {
    content: "\ebe7"; }
  i.xi.xi-illustrator-circle:before {
    content: "\ebe8"; }
  i.xi.xi-instagram:before {
    content: "\ebe9"; }
  i.xi.xi-internet-explorer:before {
    content: "\ebea"; }
  i.xi.xi-jira:before {
    content: "\ebeb"; }
  i.xi.xi-joomla:before {
    content: "\ebec"; }
  i.xi.xi-jsfiddle:before {
    content: "\ebed"; }
  i.xi.xi-kakaostory:before {
    content: "\ebef"; }
  i.xi.xi-kakaotalk:before {
    content: "\ebee"; }
  i.xi.xi-kickstarter:before {
    content: "\ebf0"; }
  i.xi.xi-laravel:before {
    content: "\eb89"; }
  i.xi.xi-line:before {
    content: "\ebf1"; }
  i.xi.xi-line-messenger:before {
    content: "\ebf2"; }
  i.xi.xi-linkedin:before {
    content: "\ebf3"; }
  i.xi.xi-linkedin-square:before {
    content: "\ebf4"; }
  i.xi.xi-linux:before {
    content: "\ebf5"; }
  i.xi.xi-magento:before {
    content: "\ebf6"; }
  i.xi.xi-maxcdn:before {
    content: "\ebf7"; }
  i.xi.xi-medium:before {
    content: "\ebf8"; }
  i.xi.xi-naver:before {
    content: "\ebf9"; }
  i.xi.xi-naver-square:before {
    content: "\ebfa"; }
  i.xi.xi-office:before {
    content: "\ebfb"; }
  i.xi.xi-opencart:before {
    content: "\ebfc"; }
  i.xi.xi-opera:before {
    content: "\ebfd"; }
  i.xi.xi-oscommerce:before {
    content: "\ebfe"; }
  i.xi.xi-path:before {
    content: "\ebff"; }
  i.xi.xi-paypal:before {
    content: "\ec00"; }
  i.xi.xi-photoshop:before {
    content: "\ec01"; }
  i.xi.xi-photoshop-circle:before {
    content: "\ec02"; }
  i.xi.xi-pinterest:before {
    content: "\ec03"; }
  i.xi.xi-pinterest-p:before {
    content: "\ec04"; }
  i.xi.xi-pocket:before {
    content: "\ec05"; }
  i.xi.xi-qq:before {
    content: "\ec06"; }
  i.xi.xi-quicktime:before {
    content: "\ec07"; }
  i.xi.xi-reddit:before {
    content: "\ec08"; }
  i.xi.xi-renren:before {
    content: "\ec09"; }
  i.xi.xi-safari:before {
    content: "\ec0a"; }
  i.xi.xi-sellsy:before {
    content: "\ec0b"; }
  i.xi.xi-silverstripe:before {
    content: "\ebbd"; }
  i.xi.xi-simplybuilt:before {
    content: "\ec0c"; }
  i.xi.xi-sketch:before {
    content: "\ec0d"; }
  i.xi.xi-skype:before {
    content: "\ec0e"; }
  i.xi.xi-slack:before {
    content: "\ec0f"; }
  i.xi.xi-slideshare:before {
    content: "\ec10"; }
  i.xi.xi-soundcloud:before {
    content: "\ec11"; }
  i.xi.xi-spotify:before {
    content: "\ec12"; }
  i.xi.xi-stack-exchange:before {
    content: "\ec13"; }
  i.xi.xi-stack-overflow:before {
    content: "\ec14"; }
  i.xi.xi-steam:before {
    content: "\ec15"; }
  i.xi.xi-steam-square:before {
    content: "\ec16"; }
  i.xi.xi-stumbleupon:before {
    content: "\ec17"; }
  i.xi.xi-stumbleupon-circle:before {
    content: "\ec18"; }
  i.xi.xi-telegram:before {
    content: "\ec19"; }
  i.xi.xi-tencent-weibo:before {
    content: "\ec1a"; }
  i.xi.xi-trello:before {
    content: "\ec1b"; }
  i.xi.xi-tumblr:before {
    content: "\ec1c"; }
  i.xi.xi-tumblr-square:before {
    content: "\ec1d"; }
  i.xi.xi-twich:before {
    content: "\ec1e"; }
  i.xi.xi-twitter:before {
    content: "\ec1f"; }
  i.xi.xi-ubercart:before {
    content: "\ec20"; }
  i.xi.xi-ubuntu:before {
    content: "\ec21"; }
  i.xi.xi-ubuntu-circle:before {
    content: "\ec22"; }
  i.xi.xi-vimeo:before {
    content: "\ec23"; }
  i.xi.xi-vine:before {
    content: "\ec24"; }
  i.xi.xi-vk:before {
    content: "\ec25"; }
  i.xi.xi-wechat:before {
    content: "\ec26"; }
  i.xi.xi-whatsapp:before {
    content: "\ec27"; }
  i.xi.xi-wikipedia:before {
    content: "\ec28"; }
  i.xi.xi-windows:before {
    content: "\ec29"; }
  i.xi.xi-wordpress:before {
    content: "\ec2a"; }
  i.xi.xi-wordpress-official:before {
    content: "\ec2b"; }
  i.xi.xi-xe:before {
    content: "\ec2c"; }
  i.xi.xi-xing:before {
    content: "\ec2d"; }
  i.xi.xi-xpressengine:before {
    content: "\ec2e"; }
  i.xi.xi-yahoo:before {
    content: "\ec2f"; }
  i.xi.xi-yelp:before {
    content: "\ec30"; }
  i.xi.xi-youtube:before {
    content: "\ec31"; }
  i.xi.xi-youtube-play:before {
    content: "\ec32"; }
  i.xi.xi-x {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%; }
  i.xi.xi-2x {
    font-size: 2em; }
  i.xi.xi-3x {
    font-size: 3em; }
  i.xi.xi-4x {
    font-size: 4em; }
  i.xi.xi-5x {
    font-size: 5em; }
  i.xi.xi-spin {
    -webkit-animation: xi-spin 2s infinite linear;
    animation: xi-spin 2s infinite linear; }

@-webkit-keyframes xi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes xi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
  i.xi.xi-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  i.xi.xi-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  i.xi.xi-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  i.xi.xi-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  i.xi.xi-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1); }
  :root i.xi.xi-rotate-90,
  :root i.xi.xi-rotate-180,
  :root i.xi.xi-rotate-270,
  :root i.xi.xi-flip-horizontal,
  :root i.xi.xi-flip-vertical {
    -webkit-filter: none;
    filter: none; }
  i.xi.xi-fw {
    width: 1.28571em;
    text-align: center; }
  i.xi.xi-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none; }
  i.xi.xi-ul > li {
    position: relative; }
  i.xi.xi-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.14286em;
    text-align: center; }
  i.xi.xi-li.xi-lg {
    left: -1.85714em; }
  i.xi.xi-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eee;
    border-radius: .1em; }
  i.xi .pull-right {
    float: right;
    margin-right: .3em; }
  i.xi .pull-left {
    float: left;
    margin-right: .3em; }
